@font-face {
    font-family: myfirstfont;
    src: url(./myfirstfont.TTF);
}

body {
    margin: 0;
    color: white;
    font-family: myfirstfont;
}

button {
    color: white;
    background-color: rgba(250, 128, 114, 0.5);

    border-color: rgba(250, 128, 114, 0.8);
    border-width: 1px;
    padding: 2px;
    margin: 1px;
    border-radius: 8px;

    font-family: myfirstfont;
    font-size: 18px;

}

.header {
    text-align: center;
    font-size: 36px;

    padding-top: 36px;
    padding-bottom: 0px;
    background-color: #3f317a;

}

.content {
    padding-top: 120px;
    padding-bottom: 50px;

    background-color: salmon;
    background: url(./images/sky-background.gif);
    background-size: cover;
    background-position: center top;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content1 {
    padding-top: 180px;
    padding-bottom: 200px;
}

.content2 {
    padding-left: 72px;
    padding-right: 36px;
    padding-top: 180px;
    padding-bottom: 200px;
}

.animals {
    display: flex;
    justify-content: space-around;
}

.content1 .text {
    font-size: 24px;
    text-align: center;
    padding-bottom: 36px;
}

.bear,
.bee,
.fish {
    background-color: rgba(255, 218, 110, 0.3);
    border-radius: 25%;
    padding: 12px;
}

.buttons {
    height: auto;
}

.panel {
    font-size: 18px;
    margin-top: 40px;
    height: 144px;
}

.announcer {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-right: 8px;
}

.bear:hover,
.fish:hover,
.bee:hover {
    background-color:  rgba(255, 218, 110, 0.6);
    size: 1.2;
}

.footer {
    padding-top: 30px;
    padding-bottom: 45px;
    text-align: center;
    background-color: #323232 ;
}